<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>
        <span *ngIf="selectedProject; else elseBlock">{{ selectedProject?.title }}</span>
        <ng-template #elseBlock>Select a Project</ng-template>
      </h1>
    </mat-card-title>
  </mat-card-header>
  <form >
    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput placeholder="Title" [(ngModel)]="project.title" type="text" name="title">
      </mat-form-field>
      <mat-form-field class="full-width">
              <textarea matInput placeholder="Details" [(ngModel)]="project.details" type="text" name="detail">
              </textarea>
      </mat-form-field>
      <section class="full-width">
        <h4>{{project.percentComplete}}% Complete</h4>
        <mat-slider class="full-width" min="0" max="100" thumbLabel name="percentComplete"
                    [(ngModel)]="project.percentComplete">
        </mat-slider>
      </section>
      <section>
        <mat-checkbox [(ngModel)]="project.approved" name="approve" >
          Approved by Customer
        </mat-checkbox>
      </section>
      <mat-card-actions>
        <button type="submit" mat-button color="primary">Save</button>
        <button type="button" mat-button>Cancel</button>
      </mat-card-actions>
    </mat-card-content>
  </form>
</mat-card>
